@font-face {
  font-family: 'MyFont'; /* A name you choose */
  src: url('fonts/TAN-Tangkiwood-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background: url(images/bg-pcs-1920.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDDDDD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
    
}

.header-text h1{
    font-size: 60px;
    font-family: 'MyFont';
}

.header-text p{
    font-size: 40px;
    margin-top: 20px;
    font-family: 'MyFont';
}


/* -----------------------POPULAR PRODUCTS-----------------------------*/



.p-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-popular{
    display: flex;
    max-width: 720px;
    background: #4d6e83;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
}

.p-container .box-two .p-image{
    height: 430px;
    width: 300px;
}

.box-two .p-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* -----------------------CATEGORIES-----------------------------*/

#categories{
    padding: 30px 0;
}

.category-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.category-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.category-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.category-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.category-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.category-list div:hover{
    background: #0e0d0d;
    transform: translateY(-10px);
}